<div class="header">
    <div class="query">
        <div *ngIf="response" class="squar">
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title">{{scoresUnderSixty}}</h2>
                  <!-- <p class="card-text">Students with a Current Course Score < </p> -->
                  <select class="select form-select" aria-label="Default select example" [ngModelOptions]="{standalone: true}" [(ngModel)]="select" (ngModelChange)="onSelectScore()">
                    <option selected>Students with a Current Course Score < 60</option>
                    <option value="70">Students with a Current Course Score < 70</option>
                    <option value="80">Students with a Current Course Score < 80</option>
                    <option value="90">Students with a Current Course Score < 90</option>
                  </select>
                </div>
                <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="percentage start-50 translate-middle">{{(this.scoresUnderSixty * 100 / response.length).toFixed(2)}}% of {{response.length}} Enrolled Students</div>
                    <div class="progress-bar overflow-visible" [style]="'width: '+this.scoresUnderSixty * 100 / response.length+'%'"></div>
                </div>
            </div>
        </div>

        <div *ngIf="response" class="squar">
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title">{{avgs.toFixed(2)}}</h2>
                  <p class="card-text">Average Grade for Enrolled Students</p>
                </div>
            </div>
        </div>
    </div>

    <div class="query">
        <div *ngIf="response" class="squar">
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title">{{no_activities}}</h2>
                  <p class="card-text">Students with No Activity in Last 30 Days</p>
                </div>
                <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="percentage start-50 translate-middle">{{(this.no_activities * 100 / response.length).toFixed(2)}}% of {{response.length}} Enrolled Students</div>
                    <div class="progress-bar overflow-visible" [style]="'width: '+this.no_activities * 100 / response.length+'%'"></div>
                </div>
            </div>
        </div>

        <div *ngIf="response" class="last_squar">
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title">{{since_last_attended}}</h2>
                  <p class="card-text">Average Days Since Last Course Interaction</p>
                </div>
            </div>
        </div>
    </div>
</div>
