<div style="padding: 10px;">
    <app-header [response]="response" (finished)="finishedHeader($event)" (average)="getAverage($event)"></app-header>
    <div class="charts">
        <div class="overall" *ngIf="finished[0]">
            <app-overall-chart [data]="response" (finish)="finishedOverall($event)"></app-overall-chart>
        </div>
        <div class="submissions" *ngIf="finished[1]">
            <app-submissions [data]="response"></app-submissions>
        </div>
    </div>
    <app-details [data]="response" [average]="average"></app-details>
</div>
