<div *ngIf="response" class="header">
    <div class="squar">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{published + concluded}}</h2>
              <p class="card-text">Courses Published or Concluded with Activity</p>
            </div>
            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="percentage start-50 translate-middle">{{((published + concluded) * 100 / response.length).toFixed(2)}}% of {{response.length}} Courses</div>
                <div class="progress-bar overflow-visible" [style]="'width: ' + (published + concluded) * 100 / response.length + '%'"></div>
            </div>
        </div>
    </div>

    <div class="squar">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{averages}}</h2>
              <p class="card-text">Courses with an Average Grade</p>
            </div>
            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="percentage start-50 translate-middle">{{(averages * 100 / response.length).toFixed(2)}}% of {{response.length}} Courses with Activity</div>
                <div class="progress-bar overflow-visible" [style]="'width: ' + averages * 100 / response.length + '%'"></div>
            </div>
        </div>
    </div>

    <div class="last_squar">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{coursesWithNoActivity}}</h2>
              <p class="card-text">Courses where 60% of Students Have No Activity in Last 7 Days</p>
            </div>
            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="percentage start-50 translate-middle">{{(coursesWithNoActivity * 100 / response.length).toFixed(2)}}% of {{response.length}} Courses with Activity</div>
                <div class="progress-bar overflow-visible" [style]="'width: ' + coursesWithNoActivity * 100 / response.length + '%'"></div>
            </div>
        </div>
    </div>
</div>
