<div *ngIf="!data" class="text-success position-absolute top-50 start-50 translate-middle">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="data" class="courses">
    <app-header [response]="data"></app-header>
    <app-courses-feature [response]="data"></app-courses-feature>
    <div class="line-charts">
        <div class="content">
            <app-content-feature [response]="data"></app-content-feature>
        </div>
        <div class="activities">
            <app-activities-feature [response]="data"></app-activities-feature>
        </div>
    </div>
    <app-low-score-courses [response]="data"></app-low-score-courses>
    <app-low-activity-courses [response]="data"></app-low-activity-courses>
</div>

<div *ngIf="data" class="filter">
    <button mat-mini-fab matTooltip="Filter" color="basic" (click)="openBottomSheet()"><mat-icon style="font-size: 23px;">calendar_month</mat-icon></button>
</div>

<div *ngIf="!data" class="text-success position-absolute top-50 start-50 translate-middle">
    <mat-spinner></mat-spinner>
</div>
