<mat-nav-list>
    <div style="display: flex;justify-content: center;">
        <a mat-list-item (click)="openLink($event, 2022)">
            <span matListItemTitle>College year 2022</span>
        </a>
        <h3 mat-list-item></h3>
    
        <a mat-list-item (click)="openLink($event, 2023)">
            <span matListItemTitle>College year 2023</span>
        </a>
    
        <a mat-list-item (click)="openLink($event, 2024)">
            <span matListItemTitle>College year 2024</span>
        </a>
    </div>
</mat-nav-list>
