<div class="overall ">
    <div class="card" *ngIf="chartOptions">
        <div class="card-body">
          <h5 class="title">Student Overall Averages</h5>
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series!"
                  [chart]="chartOptions.chart!"
                  [dataLabels]="chartOptions.dataLabels!"
                  [plotOptions]="chartOptions.plotOptions!"
                  [xaxis]="chartOptions.xaxis!"
                  [yaxis]="chartOptions.yaxis!"
                  [colors]="chartOptions.colors!"
                ></apx-chart>
            </div>
        </div>
    </div>
</div>
